{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>
<div class="list-container">
    <div class="container" data-id="{{first_list}}">
        {% for task in first_tasks %}
            <p class="draggable" draggable="true" data-list={{task.list}} data-id={{task.id}}>{{ task.title }}</p>
        {% endfor %}
    </div>
    <div class="container" data-id="{{second_list}}">
        {% for task in second_tasks %}
            <p class="draggable" draggable="true" data-list={{task.list}} data-id={{task.id}}>{{ task.title }}</p>
        {% endfor %}
    </div>
</div>
<script>
    const drag = document.querySelectorAll('.draggable')
    const cont = document.querySelectorAll('.container')
    const url = "{% url 'list:overwrite' %}"

    drag.forEach(item => {
      item.addEventListener('dragend', () => {
        postData(item)
      })
    })

    function postData(item) {
        const listId = item.parentElement.dataset.id
        const tasks = item.parentElement.querySelectorAll('p')
        const context = {
            list: listId,
            tasks: {}
        }

        for (i=0; i < tasks.length; i++) {
            const id = tasks[i].dataset.id
            context.tasks[id] = i + 1
        }
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json'},
            body: JSON.stringify(context)
        })
        .then((res) => console.log(res))
        .catch(() => console.log('error'))
    }
</script>
</body>
</html>